@{
  Layout = "_Layout";
}
<div class ="container">
<h2>Wellcom Clair, please select to start:</h2>
<p>@Html.ActionLink("See clients list", "Index", "Clients")</p>
<p>@Html.ActionLink("See stylists list", "Index", "Stylists")</p>
</div>