@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<h2>Stylists and clients tracking list</h2>
<p>@Html.ActionLink("See clients list", "Index", "Clients")</p>
<p>@Html.ActionLink("See stylists list", "Index", "Stylists")</p>