@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="container">
<h2>Are you sure you want to delete this profile?</h2>
<br />
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

@using (Html.BeginForm())

{
  <br />
  <input type="submit" value="Delete" />
}
<div class="link-card">
<p>@Html.ActionLink("Back to Clients profile", "Details", new {id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to Client's list", "Index")</p>
</div>

</div>